<%layout("/layouts/boilerplate")%>
<div class="row mt-2">
    <div class="col-8 offset-2">
<body>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
      <div class="mb-3">
        <label class="form-label">Model</label>
        <input type="text" class="form-control" placeholder="Enter Model"  name="listing[model]" value="<%=listing.model%>">
      </div>
      <div class="mb-3">
        <label class="form-label">Desc</label>
        <textarea type="text" class="form-control" placeholder="Enter desc" name="listing[desc]">"<%=listing.desc%>"</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Category</label>
        <input type="text"  class="form-control" placeholder="Enter Category" name="listing[category]" value="<%=listing.category%>">
    </div>
    <div class="mb-3">
        <label class="form-label">Image</label>
        <input type="text" class="form-control" placeholder="Enter image URL" name="listing[image]" value="<%=listing.image%>">
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="text" class="form-control" placeholder="Enter Price" name="listing[price]" value="<%=listing.price%>" >
    </div>
    
        <button class="btn btn-dark edit-btn mt-3">ADD</button>
    </form>
</body>
</div>